body {
    margin: 0;
    padding: 0;
    color: #111;
    font-size: 13px;
    display: block;
    justify-content: center;
    align-items: flex-start;
    min-height: 110vh;
    background-color: #ffffff;
    font-family: "Amazon Ember",Arial,sans-serif ;
}

.logo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;

}

img {
    width: 140px;
    height: 90px;
}

.box {
    border: 2px solid rgb(42, 42, 42);
    border-radius: 10px;
    text-align: left;
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    
}

.box * {
    padding: 6px;
}

h1 {
    font-size: 34px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 7px;
}

.box strong {
    padding-left: 0;
}

.box label {
    padding-left: 0;
    margin: 6px;
}

input{
    border-color: black;
    border-radius: 5px;
    border-width: 0.2px;
    height: 20px;
    width: 280px;
    margin-bottom: 15px;
    margin: 5px ;
    }




.amazon{
    width: 295px;
    height: 30px;
    font-size: 15px;
    background: linear-gradient(#F7DEA1, #F0C14D);
    border: 0.5px solid #aaaaaa;
    margin-bottom: 3px;
    margin-top: 10px;
    border-radius: 3px;
}

.amazon:hover{
    background: linear-gradient(#F5D68A, #EEBA36);
}

.create-account {
    background: linear-gradient(#f6f7f9, #e7e9ec);
    margin-top: 5px;
    margin-bottom: 20px;
    width:288px;
    height:25px;
    font-size:15px;
    border: 0.5px solid #aaaaaa;
    border-radius:3px;
}
.Conditions a{
    text-decoration: none;
}
.Conditions a:hover{
    text-decoration: underline;
}
.help a{
    text-decoration: none;
}
.help a:hover{
    text-decoration: underline;
    color: orangered;
}
.shop{
    border-top: 0.5px  solid rgb(211, 202, 202);
    
}
.shop a{
    text-decoration: none;
}
.shop a:hover{
    text-decoration: underline;
    color: orangered;
}
.new{
    margin: 20px auto;
    text-align: center;
    color: #7d7a7a;
    
}
.account a{
    width: 350px;
    height: 40px;
    text-decoration: none;
    color: #111;
    font-size: 15px;
    border: 0.5px solid #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin:30px auto;
    }
.privacy {
    display: flex;
    gap: 35px;
    justify-content: center;
    border-top: 0.5px  solid rgb(211, 202, 202);
    
}
.privacy a {
    text-decoration: none;
    margin-top: 30px;
    
}
.privacy a:hover{
    text-decoration:underline;
}
.copyright{
    text-align: center;
    margin-top: 20px;
}