*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 110px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 69px;
    width: 120px;
    position: relative;
    right: 10px;
    top: -6px;
    cursor: pointer;
}
.border{
    border: 2px solid transparent
}
.border:hover{
    border: 1px solid white;
}
/* box2 */
.address {
    cursor: pointer;
}
.add-first{
color: #CCCCCC;
font-size: 0.85rem;
margin-left: 15px;
}

.add-second{
color: white;
font-size: 1rem;
margin-left: 3px;
}

.address-icon{
display: flex;
align-items: center;
}

/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: #fedb68;
    width: 60vw;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    /* background-color: #f3f3f3; */
    background-color: #D4D4D4;
    width: 55px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none ;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #0F1111;
    background-color: #F3A847;
}

.nav-search:hover{
    border: 2px solid orange;
}

/* box-4 */
.nav-signin{
    cursor: pointer;
}
.nav-return {
    cursor: pointer;
}
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;

}
.nav-second i {
    position: relative;
    top: 2px;
}

.nav-cart {
    cursor: pointer;
}
.nav-cart i{
    font-size: 30px;
    font-weight: 700;
}

/* panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-option p{
    display: inline;
     margin-left: 15px;
}
.panel-option{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.90rem;
    font-weight: 700;
}

/* hero-section */
.hero-section{
    background-image: url(hero_amazon.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 0.85rem;
    bottom:25px;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}

/* shop-section */

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content a{
    color: #007185;
}

/* footer */
.footer-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-top: 15px;
}
.footer-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;justify-content: space-evenly;
    display: flex;

}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #DDDDDD;
}
.footer-panel3{
    background-color: #222f3d;
    color: #DDDDDD;
   border-top: 0.5px solid white;
   height: 70px;
   display: flex;
   justify-content: center;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 69px;
    width: 120px;
    position: relative;
    right: 10px;
    top: -6px;
}
.footer-panel4{
    background-color: #0F1111;
    color: white;
    height: 80px;
    font-size: 0.70rem;
text-align: center;
}
.pages{

padding-top: 25px;
}
.copyright{
padding-top: 5px;
margin-top: 5px;
}
.pages a{
    color: #CCCCCC;
}