*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 110px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent
}
.border:hover{
    cursor: pointer;
}
/* box2 */
.add-first{
color: #CCCCCC;
font-size: 0.85rem;
margin-left: 15px;
}

.add-second{
color: white;
font-size: 1rem;
margin-left: 3px;
}

.address-icon{
display: flex;
align-items: center;
}

/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: #fedb68;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none ;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #0F1111;
}

.nav-search:hover{
    border: 2px solid orange;
}

/* box-4 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;

}
/* Cart Logo */
.nav-cart-link {
    color: white;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    position: relative;
}
  
.nav-cart-icon {
    width: 50px;
}
  
.nav-cart-text {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 700;
}
  
.nav-cart-quantity {
    color: rgb(240, 136, 4);
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 0px;
    left: 16px;
    width: 26px;
    text-align: center;
}

/* panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-option p{
    display: inline;
     margin-left: 15px;
}
.panel-option{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.90rem;
    font-weight: 700;
}

/* hero-section */
.hero-section{
    background-image: url(hero_amazon.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
/*     height: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font: 0.85rem;
    bottom:25px;
    width: 80%;
    margin-bottom: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hero-msg a{
    color: #007185;
}

/* shop-section */



.shop {
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/*Shop*/
.shop-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }

  .box {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Set a fixed width for each box */
    height: 350px;
  }

  .box:hover {
    transform: translateY(-5px);
  }

  .box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .box-content {
    padding: 20px;
  }

  .box-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .box-content p {
    margin-top: 10px;
  }

  .box-content a {
    color: #007185;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }

  .box-content a:hover{
    color: #c7511f;
  }

/* footer */
.footer-panel1 a{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-top: 15px;
    text-decoration: none;
}
.footer-panel1 a:hover{
    background-color: #44576f;
}
.footer-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;justify-content: space-evenly;
    display: flex;

}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #DDDDDD;
    text-decoration: none;
}
.footer-panel3{
    background-color: #222f3d;
    color: #DDDDDD;
   border-top: 0.5px solid white;
   height: 70px;
   display: flex;
   justify-content: center;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.footer-panel4{
    background-color: #0F1111;
    color: white;
    height: 80px;
    font-size: 0.70rem;
text-align: center;
}
.pages{

padding-top: 25px;
}
.copyright{
padding-top: 5px;
margin-top: 5px;
}
.pages a{
    color: #CCCCCC;
}
