* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

/* .main-body{
    filter: brightness(20%);
} */

.navbar {
    height: 60px;

    background-color: #131a22;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav-logo {
    height: 50px;
    width: 110px;
}

.logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border:hover {
    transition: ease-in-out 0.2s;
    border: 1px solid rgb(153, 145, 145);
}

.border:hover {
    cursor: pointer;
}

/* box2 */
.add-first {
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second {
    color: white;
    font-size: 1rem;
    margin-left: 3px;
}

.address-icon {
    display: flex;
    align-items: center;
}






.ham-menu {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}


.hamburger {
    position: absolute;
    top: 0vh;
    left: 0.2vh;
    display: none;
    flex-direction: column;
    height: 97.7vh;
    width: 24vw;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #0F1111;
}

hr {
    background-color: gray;
}

.sign-top {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    height: 7.5vh;
    background-color: #232f3e;
    width: 100%;
}

.sign-top img {
    height: 6vh;
    filter: invert(100%);
    width: 35px;
    cursor: pointer;
}

.cross {
    position: absolute;
    top: 0vh;
    right: 1vw;
}

.sign-top>h2 {
    color: white;
}

.subhed {
    padding-left: 30px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}

.hed {
    cursor: pointer;
}



.ham-link {
    text-decoration: none;
    color: black;
}

.ham-link:visited {
    text-decoration: none;
    color: black;
}

.removed {
    filter: brightness(20%);
}

.removed-ham {
    display: flex;
}






/* box3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: #fedb68;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #0F1111;
}

.nav-search:hover {
    border: 2px solid orange;
}

/* box-4 */
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;

}

/* Cart Logo */
.nav-cart-link {
    color: white;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    position: relative;
}

.nav-cart-icon {
    width: 50px;
}

.nav-cart-text {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 700;
}

.nav-cart-quantity {
    color: rgb(240, 136, 4);
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 0px;
    left: 16px;
    width: 26px;
    text-align: center;
}

/* panel */



.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    gap: 3px;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

div.panel-all {
    margin-left: 20px;
    margin-right: 10px;
    width: 60%;

}

div.panel-all :hover {
    transition: ease-in-out 0.4s;
    border: 1px solid rgb(83, 81, 81);
}

.panel-option {
    display: flex;
    padding-right: 400px;
    padding-left: -23px;

}

.panel-option a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 7px 1px;
    position: relative;
    font-size: 15px;
    margin-left: 20px;
    color: white;
    width: max-content;
}

.panel-option a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-top: 1px solid #222f3d;
    border-left: 1px solid #222f3d;
    border-right: 1px solid #222f3d;
    border-bottom: 1px solid #222f3d;
}

.panel-option a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-top: 1px solid #222f3d;
    border-left: 1px solid #222f3d;
    border-right: 1px solid #222f3d;
    border-bottom: 1px solid #222f3d;
}

.panel-option a:hover::before,
a:hover::after {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
    height: 100%;

}






/* hero-section */
.hero-section {
    background-image: url(crouselamazon2.webp);
    /* changed the background images of the hero section */
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: rgb(150, 146, 146);
    color: black;
    height: 15px;
    /*added height to the hero-msg div*/
    display: flex;
    align-items: center;
    justify-content: center;
    font: 0.85rem;
    bottom: 25px;
    width: 100vw;
    margin-bottom: 5px;
    /*changed the margin dimenssions */
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

}

.hero-msg a {
    color: #007185;
    text-decoration: none;
    /* added text decoration : none ; so that intially the underlined part in the link is not shown */
}

/* added hover effect in the link , such that it changes the color and shows the underlined part in the link section */
.hero-msg a:hover {
    color: chocolate;
    text-decoration: underline;
}


/*properties for image slider*/


.slider-container {
    width: 500vw;
    max-width: 100vw;
    margin: 0 auto;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: none;
    outline: none;
    transition: ease-in-out 0.4s;
}

.prev:hover {
    background-color: rgba(105, 101, 101, 0.5);
}

.next:hover {
    background-color: rgba(105, 101, 101, 0.5);
}

.product-slide li:hover {
    transition: ease-in-out 0.4s;
    box-shadow: 0 0 20px grey;
    ;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}







/* shop-section */



.shop {
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/*Shop*/
.shop-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 4rem;
    margin-left: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

arrange {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
    margin: 50px;
    background-color: white;
}


#Homedec {
    margin-top: 39px;
}

#furniture {
    margin-top: 57px;
}

#Electronic {
    margin-top: 53px;
}

#beauty {
    margin-top: 35px;
}

#Pet {
    margin-top: 53px;
}

#kids {
    margin-top: 50px;
}

#fashion {
    margin-top: 22px;
}

.box {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    /* Set a fixed width for each box */
    height: 350px;
    transition: ease-in-out 0.4s;
    padding: 5px;
    box-sizing: border-box;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(96, 95, 95, 0.457);
}

.box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.box-content {
    padding: 20px;
}

.box-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.box-content p {
    margin-top: 10px;
}

.box-content a {
    color: #007185;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.box-content a:hover {
    color: #c7511f;
}

/* footer */
.footer-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-top: 15px;
}

.footer-panel2 {
    background-color: #222f3d;
    color: white;
    /* height: 500px; */
    justify-content: space-around;
    display: flex;
    padding: 50px;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #DDDDDD;
} */
.navFooterlinkCol1 {
    display: table-cell;
    padding: 0 10px;
    vertical-align: top;
    color: #333;
}

.footerlinkcol {

    font-weight: 700;
    color: #FFF;
    white-space: nowrap;
}

.navFooterlinkCol ul {
    padding: 0;
    margin: 0;
    margin-top: 12px;
}

.navFooterlinkCol ul li {
    list-style-type: none;
    margin: 0 0 10px;
    white-space: nowrap;
}

.navFooterlinkCol ul li a {
    color: #DDD;
    text-decoration: none;
    font-family: inherit;
    font-size: 0.85rem;
}

.navFooterlinkCol ul li a:hover {
    text-decoration: underline;
}

.footer-panel3 {
    background-color: #222f3d;
    color: #DDDDDD;
    border-top: 0.5px solid white;

    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

.logo {
    background-image: url(amazon_logo.webp);
    background-size: cover;
    margin: auto;
    height: 50px;
    width: 100px;
    margin-bottom: 20px;
}

.countries {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.countries ul {
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-left: 0;
}

.countries ul li {
    display: inline-block;
    list-style-type: none;
    white-space: nowrap;
    font-size: 0.7rem;
    overflow-wrap: break-word;
    text-align: center;
    text-size-adjust: 100%;
    text-wrap: wrap;
    white-space-collapse: collapse;
}

.countries ul li a {
    color: #DDD;
    text-decoration: none;
    font-family: inherit;

}

.countries ul li a:hover {
    text-decoration: underline;
}

.footer-panel4 {

    background-color: #131a22;
    color: white;
    width: 100vw;
    height: 300px;
    font-size: 0.70rem;
    text-align: center;
}

.footer-panel4 a:hover {
    color: white;
    text-decoration: underline;

}

.foot {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-right: 150px;
    padding: 40px;
    height: 30px;
    text-align: left;
    justify-content: space-evenly;
}

.foot a {
    background-color: #131a22;
    text-decoration: none;
    color: white;
    font-size: 13px;
    flex-wrap: nowrap;
}

.foot p {
    color: grey;
}

.foot1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: px;
    margin-right: 30px;
    padding: 1px;
    height: 70px;
    text-align: left;
    justify-content: space-evenly;
}

.foot1 a {
    background-color: #131a22;
    text-decoration: none;
    color: white;
    font-size: 13px;
    flex-wrap: nowrap;
}

.foot1 p {
    color: grey;

}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 1px;
    margin-top: 5px;
    color: #ddddddd3;
    font-size: 13px;
}

.pages a {
    color: #CCCCCC;
    font-size: 13px;
    margin: 5px 8px;
    text-decoration: none;
}

.pages a:hover {
    text-decoration: underline;
}

@media(max-width:762px) {
    .footer-panel2 {
        justify-content: space-between;
        gap: 20px;
    }
}

@media(max-width:365px) {
    .footer-panel2 {
        text-align: center;
        justify-content: center;
        gap: 20px;
    }
}

/* adding hover effects on the links in the shopping section */
.box-content a:hover {
    text-decoration: underline;
    color: chocolate;
}


.shop-section {
    display: flex;
    flex-direction: column;
}

.shop-section>div {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-evenly;
}

.box {
    width: -webkit-fill-available;
    height: max-content;
    height: 50vh;
}

.box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    box-sizing: border-box;
    /* border:2px solid green; */
}

.small-boxes {
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* padding: 10px; */
    box-sizing: border-box;
    height: 70%;
    /* border: 4px solid blue; */
}

.small-boxes>.small-box>img {
    height: unset;
}

.box-container a {
    color: #007185;
    text-decoration: none;
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-size: x-large;
}

.small-box {
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-box>div>span:nth-of-type(1) {
    background: red;
    color: white;
    padding: 3px;
    box-sizing: border-box;
}

.title button {
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgb(211, 207, 207);
    color: rgb(43, 42, 42);
    background-color: #ffd814;
    width: -webkit-fill-available;
    /* height: 27px; */
    /* margin-left: 12px; */
    border: none;
    padding: 10px;
    margin: 15px;
    box-sizing: border-box;
}

.box-container>div>img {
    height: -webkit-fill-available;
}

.product-slide {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: max-content;
    flex-direction: row;
}

.product-slide li {
    margin: 10px;
    list-style: none;
    /* margin-right: 10px; */
    /* margin-bottom: 15px; */
    cursor: pointer;
    width: -webkit-fill-available;
    box-sizing: border-box;
}

.shop-section>.sec3 {
    width: -webkit-fill-available;
    overflow-x: scroll;
    height: 30vh;
}

.product-slide li img {
    object-fit: scale-down;
    width: unset;
    aspect-ratio: 1;
}

body {
    overflow-x: hidden;
}

.box {
    width: 22%;
    height: max-content;
    height: unset;
    aspect-ratio: 1/1.3;
    margin-bottom: 50px;
}

.shop-section>div {

    flex-wrap: wrap;
}

.product-slide {
    height: inherit;
}

.sec3 {
    overflow-y: hidden;
}

@media screen and (max-width:750px) {


    .panel-option {
        padding-right: unset;
        padding-left: unset;
        width: 100vw;
        /* overflow: hidden; */
        width: -webkit-fill-available;
        justify-content: space-around;
    }

    .navbar {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        height: 15vh;
    }

    .navbar>div {
        width: max-content;
    }

    .nav-logo {
        grid-area: 1/1/2/2;
    }

    .address {
        grid-area: 3/1/4/2;
    }

    .nav-search {
        grid-area: 2/1/3/4;
        justify-self: center;
        width: 80%;
    }

    .nav-signin {
        grid-area: 1/3/2/4;
    }

    .nav-return {
        grid-area: 3/2/4/3;
        justify-self: end;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        justify-self: center;
    }

    .panel {
        width: -webkit-fill-available;
    }

    div.panel-all {
        width: 30%;
    }

    .nav-cart {
        grid-area: 3/3/4/4;
    }

    .panel-option a:nth-of-type(4),
    .panel-option a:nth-of-type(5),
    .panel-option a:nth-of-type(6),
    .panel-option a:nth-of-type(7),
    .panel-option a:nth-of-type(8),
    .panel-option a:nth-of-type(9),
    .panel-option a:nth-of-type(10),
    .panel-option a:nth-of-type(11) {
        display: none;
    }

    .slider-container {
        height: 25vh;
    }

    .hero-msg {
        margin-bottom: unset;
        padding-top: unset;
        padding-bottom: unset;
        height: max-content;
        font-size: small;
    }

    .shop-section {
        margin-left: unset;
    }

    .shop-section>div {
        flex-wrap: wrap;
    }

    .shop-section>.sec3 {
        height: 20vh;
    }

    .product-slide {
        height: -webkit-fill-available;
    }

    .hamburger {
        width: 70vw;
        left: 0;
        height: 100vh;
    }

    .box {
        width: 40%;
        height: unset;
        aspect-ratio: 2/3;
    }

    .box>img {

        height: 40%;
    }

    .box-content {
        padding: 5px;
    }

    .box-content h2 {
        font-size: small;
    }

    .box-content p {
        font-size: x-small;
    }

    .box-content {
        font-size: small;
    }

    #Homedec {
        margin-top: 5px;
    }

    .small-boxes {
        gap: 5px;
    }

    .small-box {
        width: 100%;
        font-size: 5px;
        justify-content: space-around;
    }

    .title {
        font-size: small;
    }

    .small-box>div>span:nth-of-type(2) {
        display: none;
    }

    .small-box>div>span:nth-of-type(1) {
        font-size: 5px;
    }

    .title button {
        margin: 5px 0;
    }

    .navbar>.nav-search {
        width: 80%;
    }

    .foot,
    .foot1 {
        margin-right: unset;
        padding: 40px 0;
        gap: unset;
        flex-wrap: wrap;
    }

    .foot>a,
    .foot1>a {
        width: 40%;
    }

    .footer-panel4>div {
        gap: 10px;
    }



}

@media screen and (min-width:450px) and (max-width:750px) {

    .small-box {
        font-size: x-small;
    }

}

@media screen and (max-width:350px) {

    .title button {
        margin: 5px 0;
        padding: 5px 0;
    }

    .title h3 {
        font-size: xx-small;
    }

    .box-container a {
        font-size: xx-small;
    }

    .box {
        margin-bottom: 20px;
    }
    .title{
        font-size: xx-small;
    }
    .title button{
        font-size: x-small;
    }
    .box-content p{
        font-size: 6px;
    }
    #Homedec{
        font-size: xx-small;
    }
    .box-content h2{
        font-size: xx-small;
    }

}

@media screen and (max-width:450px) {

    .foot,
    .foot1 {
        margin-right: unset;
        padding: 40px 0;
        gap: unset;
        flex-wrap: wrap;
    }

    .foot>a,
    .foot1>a {
        width: 40%;
    }

    .footer-panel4>div {
        gap: 10px;
    }

    .panel-all>button {
        font-size: x-small;
    }

    .panel-option>a {
        font-size: x-small;
    }
    .shop-section>.sec3{
        height: 15vh;
    }


    .logo {
        width: 65px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .nav-second {
        font-size: x-small;
    }

    .add-first {
        font-size: x-small;
        margin-left: 0;
    }
    .address-icon svg{
        height: 10px;
    }
    .add-second{
        font-size: x-small;
    }
    .nav-cart{
        font-size: small;
    }
    .nav-cart svg{
        height: 10px;
    }
}

@media screen and (min-width:751px) and (max-width:1200px) {

    .panel-option a:nth-of-type(8),
    .panel-option a:nth-of-type(9),
    .panel-option a:nth-of-type(10),
    .panel-option a:nth-of-type(11) {
        display: none;
    }

    .hamburger {
        width: 50vw;
        left: 0;
        height: 100vh;
    }

    .box {
        width: 30%;
        height: unset;
        aspect-ratio: 2/3;
    }

    .shop-section {
        margin-left: unset;
    }

    .shop-section>div {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .box>img {

        height: 40%;
    }


    .box-content {
        padding: 5px;
    }

    .title {
        font-size: medium;
    }

    .navbar {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        height: 15vh;
    }

    .navbar>div {
        width: max-content;
    }

    .nav-logo {
        grid-area: 1/1/2/2;
    }

    .address {
        grid-area: 3/1/4/2;
    }

    .nav-search {
        grid-area: 2/1/3/4;
        justify-self: center;
        width: 80%;
    }

    .navbar>.nav-search {
        width: 80%;
    }

    .nav-signin {
        grid-area: 1/3/2/4;
    }

    .nav-return {
        grid-area: 3/2/4/3;
        justify-self: end;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        justify-self: center;
    }

    .panel {
        width: -webkit-fill-available;
    }

    .nav-cart {
        grid-area: 3/3/4/4;
    }

    /* 
   
    .small-boxes {
        gap: 5px;
    }

    .small-box {
        width: 100%;
        font-size: 5px;
        justify-content: space-around;
    }

   

    .small-box>div>span:nth-of-type(2) {
        display: none;
    }

    .small-box>div>span:nth-of-type(1) {
        font-size: 5px;
    }

    .title button {
        margin: 5px 0;
    } */

}

.panel-option {
    padding-right: unset;
}

.panel-all {
    width: max-content;
}

.shop-section {
    margin-left: unset;
}

.navbar {
    height: max-content;
}

.footer-panel4>div {
    height: max-content;
}

.footer-panel4 {
    height: max-content;
}